{% extends "base.html" %}
{% load humanize %}
{% block title %}プレイヤーベット履歴{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

</style>
{% endblock %}

{% block content %}
    <img border="0" src = 'https://cravatar.eu/3d/{{ name }}'>
    <h3 class="page-header">{{ name }}のベッド履歴</h3>
    <a class="nav-item nav-link" href="{% url 'mfc:bet' name  %}?page={{ old }}">前のページ</a>　|　
    <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page={{ next }}">次のページ</a>　|　
    <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}">プレイヤーデータ</a>　|　
    <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}">バトルデータ</a>　|　
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>時間</th>
          <th>Betした相手</th>
          <th>Bet金額</th>
          <th>勝ったプレーヤーのオッズ</th>
          <th>利益</th>
          <th>その他</th>
        </tr>
      </thead>
      <tbody>
        {% for mfc in mfcb %}
        <tr>
        <td>{{ mfc.datetime }}</td>
        <td>{{ mfc.fighter_name }}</td>
        <td>{{ mfc.bet }}円</td>
        <td>{{ mfc.odds }}</td>
        <td>{{ mfc.profit }}円</td>
        <td><a class="nav-item nav-link" href="{% url 'mfc:fight_data' mfc.fight_id%}">詳細</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}