{% extends "base.html" %}
{% load humanize %}
{% block title %}プレイヤーバトル履歴{% endblock title %}
{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

</style>
{% endblock %}

{% block content %}
    <img border="0" src = 'https://cravatar.eu/3d/{{ name }}'>
    <h3 class="page-header">{{ name }}の詳細</h3>
    {% ifequal param 'pro' %}
            <a class="nav-item nav-link" href="{% url 'mfc:fight' name  %}?mode=pro&page={{ old }}">前のページ</a>　|　
    <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?mode=pro&page={{ next }}">次のページ</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}">MFC</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}">プレイヤーデータ</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>　　
    {% else %}
                    <a class="nav-item nav-link" href="{% url 'mfc:fight' name  %}?page={{ old }}">前のページ</a>　|　
    <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?page={{ next }}">次のページ</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?mode=pro">MFCPRO</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}">プレイヤーデータ</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>　|　
    {% endifequal %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>時間</th>
          <th>Kit</th>
          <th>ステージ</th>
          <th>プレイヤー1</th>
          <th>プレイヤー2</th>
          <th>プレイヤー1のオッズ</th>
          <th>プレイヤー2のオッズ</th>
          <th>勝ったプレイヤー</th>
            <th>賞金</th>
          <th>その他</th>
        </tr>
      </thead>
      <tbody>
        {% for mfc in mfcf %}
        <tr>
        <td>{{ mfc.datetime }}</td>
        <td>{{ mfc.kit }}</td>
        <td>{{ mfc.stage }}</td>
        <td><a class="nav-item nav-link" href="{% url 'mfc:player_data' mfc.player1%}">{{ mfc.player1 }}</a></td>
        <td><a class="nav-item nav-link" href="{% url 'mfc:player_data' mfc.player2 %}">{{ mfc.player2 }}</a></td>
        <td>{{ mfc.odds1|floatformat:"-2" }}</td>
        <td>{{ mfc.odds2|floatformat:"-2" }}</td>
            <td>{% ifequal mfc.winner mfc.uuid1 %}
            {{ mfc.player1|default_if_none:"なし" }}
            {% else %}
            {{ mfc.player2|default_if_none:"なし" }}
        {% endifequal %}</td>
            <td>{{ mfc.prize|floatformat|intcomma }}円</td>
    {% ifequal param 'pro' %}
        <td><a class="nav-item nav-link" href="{% url 'mfc:fight_data' mfc.id%}?mode=pro">詳細</a></td>
    {% else %}
        <td><a class="nav-item nav-link" href="{% url 'mfc:fight_data' mfc.id%}">詳細</a></td>
    {% endifequal %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}