{% extends "base.html" %}
{% load humanize %}
{% block title %}プレーヤーデータ{% endblock title %}
{% block extrahead %}
{% load mfc_extras %}
<style>
table {
  margin-top: 8px;
}
{#{% ifequal param 'pro' %}{% else %}{% endifequal %}#}
</style>
{% endblock %}

{% block content %}
    <img border="0" src = 'https://cravatar.eu/3d/{{ name }}'>
    <h3 class="page-header">{{ name }}の{% ifequal param 'pro' %}
        MFCPRO
        {% else %}
        MFC
    {% endifequal %}
        のバトルデータ</h3>
    {% ifequal param 'pro' %}
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}">MFC</a>　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?mode=pro&page=1">バトル履歴</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>|
            　　　　　　　　　　　　　　　　<a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?mode=pro&type=bet">ベットデータへ</a>
    {% else %}
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?mode=pro">MFCPRO</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?page=1">バトル履歴</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>　|　
            　　　　　　　　　　　　　　　　<a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?type=bet">ベットデータへ</a>
    {% endifequal %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>KDR</th>
          <th>勝ち数</th>
          <th>負け数</th>
          <th>MFCスコア</th>
          <th>獲得賞金</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>{{ kd }}</td>
        <td>{{ wins }}</td>
        <td>{{ lose }}</td>
        <td>{{ score }}</td>
        <td>{{ prize|intcomma }}円</td>
        </tr>
      </tbody>
    <tbody>
    <tr><td><font size="6">過去２０回の戦績</font></td></tr>
    </tbody>
    <thead>
        <tr>
          <th>時間</th>
          <th>Kit</th>
          <th>ステージ</th>
          <th>プレイヤー1</th>
          <th>プレイヤー2</th>
          <th>賞金</th>
          <th>勝ったプレイヤー</th>
          <th>その他</th>
        </tr>
      </thead>
      <tbody>
        {% for mfc in fight %}
        <tr>
        <td>{{ mfc.datetime }}</td>
        <td>{{ mfc.kit }}</td>
        <td>{{ mfc.stage }}</td>
        <td><a class="nav-item nav-link" href="{% url 'mfc:player_data' mfc.player1%}">{{ mfc.player1 }}</a></td>
        <td><a class="nav-item nav-link" href="{% url 'mfc:player_data' mfc.player2 %}">{{ mfc.player2 }}</a></td>
        <td>{{ mfc.prize }}</td>
        <td>{% ifequal mfc.winner mfc.uuid1 %}
            {{ mfc.player1|default_if_none:"なし" }}
            {% else %}
            {{ mfc.player2|default_if_none:"なし" }}
        {% endifequal %}</td>
        <td>{% ifequal param 'pro' %}
            <a class="nav-item nav-link" href="{% url 'mfc:fight_data' mfc.id %}?mode=pro">詳細</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'mfc:fight_data' mfc.id %}">詳細</a>
        {% endifequal %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}