{% extends "base.html" %}
{% load humanize %}
{% block title %}プレーヤーデータ{% endblock title %}
{% block extrahead %}
{% load mfc_extras %}
<style>
table {
  margin-top: 8px;
}

</style>
{% endblock %}

{% block content %}
    <img border="0" src = 'https://cravatar.eu/3d/{{ name }}'>
    <h3 class="page-header">{{ name }}の{% ifequal param 'pro' %}
        MFCPRO
        {% else %}
        MFC
    {% endifequal %}
        のベットデータ</h3>
    {% ifequal param 'pro' %}
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?type=bet">MFC</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?mode=pro&page=1">バトル履歴</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>　|　
            　　　　　　　　　　　　　　　　<a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?mode=pro">バトルデータへ</a>
    {% else %}
        <a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}?mode=pro&type=bet">MFCPRO</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:fight' name %}?page=1">バトルデータ</a>　|　
        <a class="nav-item nav-link" href="{% url 'mfc:bet' name %}?page=1">Bet履歴</a>　|　
            　　　　　　　　　　　　　　　　<a class="nav-item nav-link" href="{% url 'mfc:player_data' name %}">バトルデータへ</a>


    {% endifequal %}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>総Bet回数</th>
          <th>勝ち数</th>
          <th>負け数</th>
          <th>総ベット金額</th>
          <th>獲得金額</th>
          <td>回収率</td>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>{{ num }}回</td>
        <td>{{ win }}回</td>
        <td>{{ lose }}回</td>
        <td>{{ bet|floatformat|intcomma }}円</td>
        <td>{{ profit|floatformat|intcomma }}円</td>
        <td>{{ mony|floatformat:2 }}%</td>
        </tr>
      </tbody>
    </table>
{% endblock content %}