{% extends "base.html" %}

{% block title %}書籍の一覧{% endblock title %}
{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

</style>
{% endblock %}

{% block content %}
    <img border="0" src = 'https://cravatar.eu/3d/{{ name }}'>
    <h3 class="page-header">{{ name }}のデータ</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>キルストリーク</th>
          <th>勝ち数</th>
          <th>負け数</th>
          <th>使ったお金</th>
          <th>得たお金</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td>{{ kd }}</td>
        <td>{{ win }}</td>
        <td>{{ lose }}</td>
        <td>{{ usemony }}円</td>
        <td>{{ mony }}円</td>
        </tr>
      </tbody>
    </table>
{% endblock content %}