{% extends "probase.html" %}
{% load humanize %}
{% block title %}プレイヤーランキング{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}

</style>
{% endblock %}

{% block content %}

    <h3 class="page-header">{{ title }}</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>順位</th>
          <th>名前</th>
          <th></th>
          <th>{{ sub }}</th>
        </tr>
      </thead>
      <tbody>
        {% for place in model %}
        <tr>
        <td>{{ place.id }}位</td>
        <td>{{ place.name }}</td>
        <th><img src="https://cravatar.eu/helmhead/{{ place.name }}/96"></th>
        <td align="right" >{{ place.bet|floatformat:0|intcomma }}{{ unit }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock content %}